
<h3 class="title-header">{{vm.titleHeader}}</h3>
<div class="col-md-12">
    Hello World!

<div class="blue">
    <p class="text-white">Hello World!</p>
</div>
    <button class="btn btn-primary"
    		ng-click="vm.message_modal()">
    	Modal {{orderProperty}}
    </button>

    <!--<div class="alert alert-info">
                    <p>Sort key: {{sortKey}}</p>
                    <p>Reverse: {{reverse}}</p>
                    <p>Search String : {{search}}</p>
    </div> -->

    <div class="table-responsive">
        <div sticky offset="55" class="sticky">
         <!-- pager -->
        <div style="float:left; display:inline-block"><label>Any: <input ng-model="search.$"></label></div>
        <dir-pagination-controls
                    max-size="10"
                    direction-links="true"
                    boundary-links="true" >
        </dir-pagination-controls>
        </div>
    	<table class="table table-bordered responsive">
    		<thead >
                <div sticky offset=100>
    			<tr >
                     <th style="width:100px" ng-click="sort('id')">
                        <u-sort-page-directive sort-key="{{sortKey}}" label="ID" value="id"  ></u-sort-page-directive>
                    </th>
                     <th ng-click="sort('name')">
                        <u-sort-page-directive sort-key="{{sortKey}}" label="Name" value="name"  ></u-sort-page-directive>
                    </th>
                     <th ng-click="sort('email')">
                        <u-sort-page-directive sort-key="{{sortKey}}" label="Email" value="email"  ></u-sort-page-directive>
                    </th>
                     <th ng-click="sort('body')">
                        <u-sort-page-directive sort-key="{{sortKey}}" label="Body" value="body"  ></u-sort-page-directive>
                    </th>
    			</tr>
                </div>
    		</thead>
    		<tbody>
    			<tr dir-paginate="comment in vm.data_final|orderBy:sortKey:reverse|filter:search|itemsPerPage:10"  >
    				<td ng-bind="comment.id"></td>
    				<td ng-bind="comment.name"></td>
    				<td ng-bind="comment.email"></td>
    				<td ng-bind="comment.body"></td>
    			</tr>
    		</tbody>
    	</table>

        <dir-pagination-controls
                    max-size="10"
                    direction-links="true"
                    boundary-links="true" >
        </dir-pagination-controls>
    </div>
</div>