
<h3 class="title-header">{{vm.titleHeader}}</h3>
<div class="col-md-12">
    Hello World!

<div class="blue">
    <p class="text-white">Hello World!</p>
</div>
    <button class="btn btn-primary"
    		ng-click="vm.message_modal()">
    	Modal {{orderProperty}}
    </button>

    <!--<div class="alert alert-info">
                    <p>Sort key: {{sortKey}}</p>
                    <p>Reverse: {{reverse}}</p>
                    <p>Search String : {{search}}</p>
    </div> -->
    

    <div class="table-responsive">
        <div sticky offset="55" class="sticky">
         <!-- pager -->
        <div style="float:left; display:inline-block"><label>Any: <input ng-model="search.$"></label></div>
        <dir-pagination-controls
                    max-size="10"
                    direction-links="true"
                    boundary-links="true" >
        </dir-pagination-controls>
        </div>
    	<table class="table table-bordered responsive">
    		<thead >
                <div sticky offset=100>
    			<tr >
    				<th ng-click="sort('id')" style="width:100px">
                        ID  
                       <span ng-show="sortKey == 'id' && !reverse" class="fa fa-caret-down"></span>
                       <span ng-show="sortKey == 'id' && reverse" class="fa fa-caret-up"></span>
                    </th>
    				<th ng-click="sort('name')" style="width:100px">
                        Name 
                       <span ng-show="sortKey == 'name' && !reverse" class="fa fa-caret-down"></span>
                       <span ng-show="sortKey == 'name' && reverse" class="fa fa-caret-up"></span>
                    </th>
                    <th ng-click="sort('email')" style="width:100px">
                        Email
                       <span ng-show="sortKey == 'email' && !reverse" class="fa fa-caret-down"></span>
                       <span ng-show="sortKey == 'email' && reverse" class="fa fa-caret-up"></span>
                    </th>
                     <th ng-click="sort('body')" style="width:100px">
                        Body 
                       <span ng-show="sortKey == 'body' && !reverse" class="fa fa-caret-down"></span>
                       <span ng-show="sortKey == 'body' && reverse" class="fa fa-caret-up"></span>
                    </th>
                  

    				 
    			</tr>
                </div>
    		</thead>
    		<tbody>
    			<tr dir-paginate="comment in vm.data_final|orderBy:sortKey:reverse|filter:search|itemsPerPage:10"  >
    				<td ng-bind="comment.id"></td>
    				<td ng-bind="comment.name"></td>
    				<td ng-bind="comment.email"></td>
    				<td ng-bind="comment.body"></td>
    			</tr>
    		</tbody>
    	</table>

        <dir-pagination-controls
                    max-size="10"
                    direction-links="true"
                    boundary-links="true" >
        </dir-pagination-controls>
    </div>
</div>