<div class=""> <!-- col-md-12-->
    
   
    <div style="overflow:hidden;">

        <div sticky offset="50" class="sticky" style="background-color:white">
            <table style="width:100%">
                 <tr>
                    <td style="width:70%"><h5 class="title-header">{{vm.titleHeader}}</h5></td>
                     
                     

               </tr>  
            </table>
            <div style="padding: 12px;"> </div>
            
        </div>
  
 <!--{{vm.treatment_data_final}} -->
      
       <div class="row form-label ">

             <div class="ft15 col-md-1 col-xs-1 modal-padding flatui-text-top"  >
                  <div class="circle"></div>
            </div>
             <div class="col-md-11 col-xs-11 modal-padding flatui-text-top"  >
                  <div class="ft16">Moisture</div>
                  <div class="ft9">Description here if any</div>

                   <div class="col-md-12 modal-padding" >
                        <input  class="form-control" 
                                type="text"
                                name="moisture_wrinkles"
                                ng-model="vm.moisture_wrinkles" 
                                required=""
                                 
                                 >
                        <label class="md-label">Wrinkles</label>
                  </div>

                   <div class="col-md-12 modal-padding" >
                        <input  class="form-control" 
                                type="text"
                                name="moisture_dry_skin"
                                ng-model="vm.moisture_dry_skin" 
                                required=""
                                 
                                 >
                        <label class="md-label">Dry Skin</label>
                  </div>

                  <div class="col-md-12 modal-padding" >
                        <input  class="form-control" 
                                type="text"
                                name="moisture_scaly_skin"
                                ng-model="vm.moisture_scaly_skin" 
                                required=""
                                 
                                 >
                        <label class="md-label">Scaly Skin</label>
                  </div>

                  <div class="col-md-12 modal-padding" >
                        <input  class="form-control" 
                                type="text"
                                name="moisture_roughness"
                                ng-model="vm.moisture_roughness" 
                                required=""
                                 
                                 >
                        <label class="md-label">Roughness</label>
                  </div>
                  <div class="col-md-12 modal-padding" >
                        <input  class="form-control" 
                                type="text"
                                name="moisture_other"
                                ng-model="vm.moisture_other" 
                                required="" 
                                 >
                        <label class="md-label">Other</label>
                  </div>
            </div>



            <div class="ft15 col-md-1 col-xs-1 modal-padding flatui-text-top"  >
                  <div class="circle"></div>
            </div>
             <div class="col-md-11 col-xs-11 modal-padding flatui-text-top"  >
                  <div class="ft16">Pigmentation</div>
                  <div class="ft9">Description here if any</div>

                   <div class="ft15 col-md-10 modal-padding" >
                         Brown Spots
                  </div>
                   <div class="col-md-2 modal-padding" >
                          <div  class="checkboxFive">
                                  <input type="checkbox"   id="pigmentation_brown_spots" name="" ng-model="vm.pigmentation_brown_spots" />
                                  <label for="pigmentation_brown_spots"></label>
                          </div>
                  </div>

                   <div class="col-md-12 modal-padding" >
                        <input  class="form-control" 
                                type="text"
                                name="moisture_dry_skin"
                                ng-model="vm.moisture_dry_skin" 
                                required=""
                                 
                                 >
                        <label class="md-label">Dry Skin</label>
                  </div>

                  <div class="col-md-12 modal-padding" >
                        <input  class="form-control" 
                                type="text"
                                name="moisture_scaly_skin"
                                ng-model="vm.moisture_scaly_skin" 
                                required=""
                                 
                                 >
                        <label class="md-label">Scaly Skin</label>
                  </div>

                  <div class="col-md-12 modal-padding" >
                        <input  class="form-control" 
                                type="text"
                                name="moisture_roughness"
                                ng-model="vm.moisture_roughness" 
                                required=""
                                 
                                 >
                        <label class="md-label">Roughness</label>
                  </div>
                  <div class="col-md-12 modal-padding" >
                        <input  class="form-control" 
                                type="text"
                                name="moisture_other"
                                ng-model="vm.moisture_other" 
                                required="" 
                                 >
                        <label class="md-label">Other</label>
                  </div>
            </div>


            
             
      </div>

      
         
         

      
    </div>
</div>