<div class="modal-header bg-primary shufra-blue-primary">
    <span class="text-uppercase lead">
        {{ vm.content.header }}
       <button  type="button" 
                class="close"
                ng-click="vm.cancel()" 
                data-dismiss="modal" 
                aria-hidden="true">&times;</button>
    </span>

</div>
 
<div class="modal-body clearfix" >
  
    <div class="col-md-12 modal-padding" >
        <input  class="form-control" 
                type="text"
                name="how_many_times"
                ng-model="vm.how_many_times" 
                required=""
                placeholder="How many times"
                 >
    </div>
     
    <div class="col-md-12 modal-padding"  >
        <input  class="form-control" 
                type="text"
                name="how_often"
                ng-model="vm.how_often" 
                placeholder="How Often"
                required="">
       
    </div>
     
    <div class="col-md-12 modal-padding">
        <input  class="form-control" 
                type="text"
                name="notes"
                ng-model="vm.notes" 
                placeholder="Notes"
                required="">
       
    </div>




    <div class="top-margin-sm pull-right" align="center">
        <button type="button" 
                class="btn btn-sm btn-cancel" 
                ng-click="vm.cancel()" > Cancel </button>
        <button type="button"
                class="btn btn-sm btn-primary text-capitalize"
                ng-click="vm.approve()" > {{vm.content.btn_name || 'Confirm'}} </button>
    </div>
</div>
