
<style>
    /* 
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
    @media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
    
        /* Force table to not be like tables anymore */
        table.responsive, table.responsive thead,table.responsive  tbody,table.responsive th,table.responsive td,table.responsive tr { 
            display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        table.responsive thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        table.responsive tr { border: 1px solid #ccc; }
        
        table.responsive td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%; 
        }
        
        table.responsive td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
           
            left: 6px;
            width: 15%; 
             
            padding-right: 10px; 
            white-space: nowrap;
            background-color: #333;
            color: white;
            text-align:center;
           
        }
        
        /*
        Label the data
        */
        table.responsive td:nth-of-type(1):before { content: "Order"; }
        table.responsive td:nth-of-type(2):before { content: "Status"; }
        table.responsive td:nth-of-type(3):before { content: "Date Placed"; }
        table.responsive td:nth-of-type(4):before { content: "Total"; }
        
    }
    
    /* Smartphones (portrait and landscape) ----------- */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
        body { 
            padding: 0; 
            margin: 0; 
            width: 320px; }
        }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        body { 
            width: 495px; 
        }
    }
    
</style> 
<div layout="column" layout-fill>
    <md-toolbar layout="row" layout-align="center">
        <div class="md-toolbar-tools" flex-gt-md="60" flex-md="80" flex-sm="100">
            <span>Angular Data Grid &mdash; Material Design</span>
            <span flex></span>
            <md-menu md-position-mode="target-right target">
                <md-button ng-click="$mdOpenMenu($event)">
                    <span layout="row" layout-align="center center">
                    Change theme
                    <i class="material-icons">arrow_drop_down</i>
                    </span>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <a href="../bootstrap/index.html">Bootstrap Design</a>
                    </md-menu-item>
                    <md-menu-item>
                        <a href="index.html"><strong>Material Design</strong></a>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content layout-padding layout="row" layout-align="center">
        <div flex-gt-md="60" flex-md="80" flex-xs="100">
             
            <hr>
            <div layout-gt-xs="row" layout-xs="column" layout-align="stretch center">
                <div  layout="row" layout-align="center start">
                    <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                        <input ng-model="code"
                               class="md-input"
                               ng-change="gridActions.filter()"
                               id="order"
                               placeholder="Search by Order #"
                               filter-by="code"
                               filter-type="text"
                               aria-invalid="false">
                    </md-input-container>
                </div>
                <div  layout="row" layout-align="start center">
                    <md-datepicker ng-model="dateFrom"
                                   flex="100"
                                   md-placeholder="From Date"
                                   is-open="dateFromOpened"
                                   ng-click="dateFromOpened = true"
                                   filter-by="placed"
                                   filter-type="dateFrom"
                                   ng-change="gridActions.filter()"></md-datepicker>
                </div>
                <div  layout="row" layout-align="start center">
                    <md-datepicker ng-model="dateTo"
                                   flex="100"
                                   md-placeholder="To Date"
                                   is-open="dateToOpened"
                                   ng-click="dateToOpened = true"
                                   filter-by="placed"
                                   filter-type="dateTo"
                                   ng-change="gridActions.filter()"></md-datepicker>
                </div>
            </div>
            <div grid-data id='test' grid-options="gridOptions" grid-actions="gridActions">
                <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                    <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                        <span>{{filtered.length}} items total</span>
                    </div>
                    <div flex-gt-sm="75" flex-xs="100">
                        <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                            <grid-pagination max-size="5"
                                             boundary-links="true"
                                             class="pagination mdl-shadow--2dp"
                                             ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                             total-items="paginationOptions.totalItems"
                                             ng-model="paginationOptions.currentPage"
                                             ng-change="reloadGrid()"
                                             items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                            <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                    <md-option>10</md-option>
                                    <md-option>25</md-option>
                                    <md-option>50</md-option>
                                    <md-option>75</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="responsive">
                        <thead>
                        <tr>
                            <th sortable="code" class="sortable mdl-data-table__cell--non-numeric">
                                <span>Order #</span>
                            </th>
                            <th class="st-sort-disable th-dropdown">
                                <md-select filter-by="statusDisplay"
                                           filter-type="select"
                                           ng-model="status"
                                           placeholder="Status"
                                           ng-change="filter()">
                                    <md-option value="">All Statuses</md-option>
                                    <md-option ng-repeat="option in statusOptions track by option.value"
                                               value="{{option.value}}">
                                        {{option.text}}
                                    </md-option>
                                </md-select>
                            </th>
                            <th sortable="placed" class="sortable">
                                <span>Date Placed</span>
                            </th>
                            <th sortable='total.value' class="sortable">
                                <span>Total</span>
                            </th>
                        
                          
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr grid-item>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span ng-bind="item.code"></span>
                            </td>
                            <td ng-bind="item.statusDisplay"></td>
                            <td ng-bind="item.placed | date:'MM/dd/yyyy'"></td>
                            <td ng-bind="item.total.formattedValue"></td>
                           
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                    <grid-pagination max-size="5"
                                     boundary-links="true"
                                     class="pagination"
                                     ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                     total-items="paginationOptions.totalItems"
                                     ng-model="paginationOptions.currentPage"
                                     ng-change="reloadGrid()"
                                     items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                    <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                        <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                            <md-option>10</md-option>
                            <md-option>25</md-option>
                            <md-option>50</md-option>
                            <md-option>75</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-content>
</div>
 